<h1>Hi <%= @user.name %>,</h1>
<p>
Welcome to the Shopzero! Click on the link below to activate your account:
</p>
<%= link_to "Activate",activate_url(@user.activation_token,
                                                    email: @user.email) %>
